<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <title style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"> Site Home</title>
    </head>
    <body>
        <h1> Site Home</h1>
        <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;">Hi there, there is nothing to show here but you can register or sign in if you like :p<br>
        It will allow you to login and see your name with a hello attached to it xD.
        <br>
        <br>
        Click <a href = "\login">here</a> if you want to login.
        <br>
        Click <a href="\register">here</a> if you want to create a new account.
        </p>

    </body>
</html>